.logo {
  max-width: 200px;
  text-align: center;
}
.frontImage {
  padding-left: 3rem;
margin-left:10rem;
  padding-top: 3rem;
}
.testBox {

  width: 48%;
  margin-left: 3rem;

  margin-top: 3rem;
  text-align: center;
}
.testimonial {
  margin-left:10rem;
}
.footer {
  margin-bottom: 10rem;
  margin-left: 24rem;
  margin-bottom: 2rem;
}

.social {
  padding-right: 2rem;
  font-size: 2rem !important;
}
.social:hover {
  color:#6a84c3;
  transition: 0.3s;
  text-decoration: none;
}
.aboutDes {
  float: right;
  width: 57%;
  font-size: 22px;
  padding: 2rem;
  margin-top: 1.5rem;
}
.aboutImage {
  max-height: 300px;
  margin-left: 9rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}